

    @font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Google Sans'), url('fonts-v2/Google Sans/GoogleSans-Regular.woff') format('woff');
    }
    

   